body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Protest Riot', sans-serif;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  max-width: 1920px;
  width: 100%;
  height: fit-content;
}
.scene {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.scene__layer {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 110%;
  height: 110%;
}

.scene__layer_sky {
  position: relative;
  background: url(./img/layer-bg.jpg) top no-repeat;
  background-size: cover;
  background-position: center calc(0% - 220px);
}

.scene__layer_sun {
  background: url(./img/layer-4.png) no-repeat;
  background-size: 500px 500px;
  left: 62%;
  top: 32%;
}
@media screen and (max-width: 768px) {
  .scene__layer_sun {
    background-size: 300px 300px;
    left: 60%;
    top: 35%;
  }
}
@media screen and (max-width: 426px) {
  .scene__layer_sun {
    background-size: 250px 250px;
    left: 35%;
    top: 22%;
  }
}

.scene__layer_mountain {
  background: url(./img/layer-1.png) bottom no-repeat;
  background-size: cover;
  background-position: bottom calc(-200px + 50%);
}
@media screen and (max-width: 426px) {
  .scene__layer_mountain {
    background-size: 300% 150%;
  }
}

.scene__layer_tree {
  background: url(./img/layer-2.png) bottom left no-repeat;
  background-size: 800px 600px;
  left: -20%;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .scene__layer_tree {
    background-size: 520px 420px;
    bottom: -2%;
  }
}
@media screen and (max-width: 425px) {
  .scene__layer_tree {
    background-size: 380px 300px;
  }
}
.scene__layer_grass {
  background: url(./img/layer-3.png) bottom no-repeat;
  background-size: 120% 200px;
  bottom: -100px;
}
@media screen and (max-width: 768px) {
  .scene__layer_grass {
    background-size: 120% 120px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 0;
  justify-content: space-between;
  margin: 30px auto 0px auto;
  background-color: transparent;
  border-radius: 10%;
  border: none;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 0px auto;
  }
}
@media screen and (max-width: 600px) {
  .header {
    margin: 20px auto 0px;
  }
}
@media screen and (max-width: 426px) {
  .header {
    flex-direction: column;
  }
}

.header__title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(237, 196, 14);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 0px;
  margin-right: -25px;
  padding: 0px;
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 25px;
    font-weight: 400;
    margin-right: -10px;
  }
}
@media screen and (max-width: 426px) {
  .header__title {
    margin-right: 0px;
    align-self: center;
  }
}
.header__title_part2 {
  margin-left: -25px;
}
@media screen and (max-width: 600px) {
  .header__title_part2 {
    margin-left: -10px;
  }
}
@media screen and (max-width: 426px) {
  .header__title_part2 {
    margin-left: 0px;
    align-self: center;
  }
}

.header__logoWrapper {
  margin-bottom: -45px;
  filter: drop-shadow(0 0 5px rgba(2, 28, 49, 0.3)) drop-shadow(5px 0 5px rgba(2, 28, 49, 0.3));
  z-index: 2;
  -webkit-animation: pulsing 7s infinite;
  animation: pulsing 7s infinite;
}

@media screen and (max-width: 600px) {
  .header__logoWrapper {
    margin-bottom: -35px;
  }
}
@media screen and (max-width: 426px) {
  .header__logoWrapper {
    margin-bottom: 0px;
    align-self: center;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 200px;
  height: 150px;
  font-size: 40px;
  letter-spacing: 1px;
  color: rgb(246, 248, 250);
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 1.2;
}
@media screen and (max-width: 600px) {
  .header__logo {
    width: 130px;
    height: 90px;
    font-size: 25px;
  }
}
@media screen and (max-width: 426px) {
  .header__logo {
    width: 120px;
    height: 70px;
    font-size: 25px;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    margin-top: 30px;
  }
}
@media screen and (max-width: 426px) {
  .nav-bar {
    margin-top: 10px;
  }
}

.nav-menu {
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  list-style-type: none;
  background: rgb(84, 97, 113, 0.2);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .nav-menu {
    gap: 35px;
  }
}
@media screen and (max-width: 426px) {
  .nav-menu {
    gap: 8px;
    align-self: center;
  }
}

.nav-menu__item {
  padding: 5px 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(87, 150, 228);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.nav-menu__item:hover {
  color: white;
  outline: 1px solid white;
  border-radius: 50px;
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .nav-menu__item {
    font-size: 15px;
  }
}
