body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Giselma-Regular', sans-serif;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.scene {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.scene__layer {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 110%;
  height: 110%;
}

.scene__layer_sky {
  position: relative;
  background: url(./img/layer-bg.jpg) top no-repeat;
  background-size: cover;
  background-position: center calc(0% - 220px);
}

.scene__layer_sun {
  background: url(./img/layer-4.png) no-repeat;
  background-size: 500px 500px;
  left: 62%;
  top: 32%;
}
@media screen and (max-width: 768px) {
  .scene__layer_sun {
    background-size: 300px 300px;
    left: 60%;
    top: 35%;
  }
}
@media screen and (max-width: 426px) {
  .scene__layer_sun {
    background-size: 250px 250px;
    left: 35%;
    top: 22%;
  }
}

.scene__layer_mountain {
  background: url(./img/layer-1.png) bottom no-repeat;
  background-size: cover;
  background-position: bottom calc(-200px + 50%);
}
@media screen and (max-width: 426px) {
  .scene__layer_mountain {
    background-size: 300% 150%;
  }
}

.scene__layer_tree {
  background: url(./img/layer-2.png) bottom -5% left -20% no-repeat;
  background-size: 800px 600px;
}
@media screen and (max-width: 768px) {
  .scene__layer_tree {
    background-size: 520px 420px;
    bottom: -2%;
  }
}
@media screen and (max-width: 425px) {
  .scene__layer_tree {
    background-size: 380px 300px;
  }
}
.scene__layer_grass {
  background: url(./img/layer-3.png) bottom no-repeat;
  background-size: 120% 150px;
  bottom: 70%;
}
@media screen and (max-width: 768px) {
  .scene__layer_grass {
    background-size: 120% 120px;
  }
}

.header {
  width: 500px;
  margin: 30px auto 0px;
  background: url(./img/devide-line2.png);
  background-position: center calc(50% - 40px);
  background-repeat: no-repeat;
  background-size: calc(100% + 10px) auto;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 20px auto;
  }
}
@media screen and (max-width: 600px) {
  .header {
    width: 400px;
    margin: 20px auto 0px;
    background-position: center calc(50% - 30px);
    background-size: calc(100% + 0px) auto;
  }
}
@media screen and (max-width: 426px) {
  .header {
    width: 300px;
    margin: 20px auto 0px;
    background-position: center calc(50% - 30px);
    background-size: calc(100% + 0px) auto;
  }
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(237, 196, 14);
  margin: 20px 0px 0px 0px;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 25px;
    font-weight: 400;
    gap: 30px;
  }
}
@media screen and (max-width: 426px) {
  .header__title {
    font-size: 20px;
    font-weight: 400;
    gap: 30px;
  }
}

.header__span {
  font-size: 40px;
  letter-spacing: 2px;
  color: transparent;
  font-weight: 600;
  line-height: 1.2;
  background-image: linear-gradient(
    to right,
    rgb(22, 25, 33),
    rgb(255, 255, 255),
    rgb(22, 25, 33),
    rgb(246, 248, 249)
  );
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientShift 10s infinite;
}
@media screen and (max-width: 600px) {
  .header__span {
    font-size: 30px;
  }
}
@keyframes gradientShift {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .nav-bar {
    margin-top: 30px;
  }
}

.nav-menu {
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  list-style-type: none;
  border-radius: 10px;
  background: rgba(163, 136, 136, 0.4);
}
@media screen and (max-width: 600px) {
  .nav-menu {
    gap: 35px;
  }
}
@media screen and (max-width: 426px) {
  .nav-menu {
    gap: 5px;
  }
}

.nav-menu__item {
  padding: 5px 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(119, 85, 85);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 1;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.nav-menu__item:hover {
  color: white;
  outline: 1px solid white;
  border-radius: 50px;
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .nav-menu__item {
    font-size: 15px;
  }
}

/* @-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
} */
